<div class="page_wrapper">
	<div class="content">
		<h2>Hi, Welcome to my first blog written on Rails</h2>
		<p>My name is Adam Baxter and I am about to start my final phase of Dev Bootcamp. In preparation for phase three I have made this blog.</p>
	</div>
</div>